<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jp.meco300.nfcfortune"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <!-- Below is necessary permission to user NFC feature -->
    <uses-permission android:name="android.permission.NFC" />

    <!-- Below deny install that the phone do not have  NFC feature  -->
	<uses-feature
	    android:name="android.hardware.nfc"
	    android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
		<!-- Give limit to making Activity,only one time -->
        <activity
            android:name="com.test.nfc_test.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- ▼アプリ立ち上げてなくても反応 -->
            <intent-filter >
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
		        <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
			<meta-data
				android:name="android.nfc.action.TECH_DISCOVERED"
				android:resource="@xml/nfc_tech_filter" />
            <!-- ▲アプリ立ち上げてなくても反応 -->

        </activity>

    </application>

</manifest>